/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.p-15 {
  padding: 15px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-12 {
  padding-right: 12px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-12 {
  padding-left: 12px !important;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.flex-2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 !important;
          flex: 2 !important;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-item-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-item-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-x {
  overflow-x: auto;
}

.semi-bold {
  font-weight: 500 !important;
}

.bold {
  font-weight: 600 !important;
}

.page-content {
  padding-top: 61px;
  padding-bottom: 65px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
  font-size: 24px;
  color: #2F5472;
  padding-top: 45px;
  padding-bottom: 25px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0;
  padding-left: 10px;
  font-size: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropbtn:after {
  content: '\f0c9';
  font-family: FontAwesome;
  font-size: 20px;
}

.dropbtn:hover, .dropbtn:focus {
  color: #000;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  padding: 15px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-size: 12px;
  text-align: right;
  top: 27px;
}

.dropdown-content p {
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
}

.dropdown-content p:last-child {
  padding-bottom: 0;
}

.dropdown-content p:hover {
  opacity: 0.8;
  font-weight: bold;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.alert {
  padding: 15px 20px;
}

.alert.gradient-blue {
  background: linear-gradient(167.97deg, #CEF2E6 0%, #F1F6CF 100%);
}

.alert .text {
  font-size: 14px;
  color: #2F5472;
  line-height: 18px;
}

.alert .text:first-child {
  margin-bottom: 20px;
}

.btn {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1.5px solid transparent;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 17px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn.btn-light {
  color: white;
  border-color: white;
}

.btn.btn-light:hover {
  opacity: 0.8;
}

.btn.btn-primary {
  color: #ffffff;
  border-color: #2F5472;
  background-color: #2F5472;
}

.btn.btn-outline {
  background-color: transparent;
  background-image: none;
}

.btn.btn-outline.btn-primary {
  color: #2F5472;
}

.btn.btn-clear {
  background-color: transparent;
}

.btn.btn-gray {
  color: #616161;
  border-color: #EEEEEE;
  background: #EEEEEE;
}

.btn.btn-gray:hover {
  color: #616161;
  opacity: 0.8;
}

.btn.btn-gradient {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#559BAB), to(#8AD9D0));
  background: linear-gradient(180deg, #559BAB 0%, #8AD9D0 100%);
  border: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn.btn-add {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.666667px;
}

.btn:hover {
  opacity: 0.8;
}

.header {
  background-image: url("../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 61px;
  padding: 15px;
  position: fixed;
  height: 0;
  width: 100%;
  height: 61px;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo-container {
  width: 86px;
  height: 32px;
}

.header .logo-container .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 10px;
}

.header .header-item-wrap .header-item {
  font-size: 13px;
  color: #FFFFFF;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-item-wrap .header-item:hover, .header .header-item-wrap .header-item:focus {
  opacity: 0.8;
  font-weight: bold;
}

.box-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-form .form-title {
  font-size: 20px;
  color: #2F5472;
  line-height: 60px;
}

.form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group label {
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #8AC9C6;
  font-weight: bold;
  padding-left: 20px;
}

.form-group .form-control {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2F5472;
  border-radius: 5px;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-group .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-group .error {
  display: block;
  margin-top: .25rem;
  font-size: 0.8rem;
  color: red;
  padding-left: 20px;
}

.form-group.form-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-control {
  padding: 2px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2F5472;
  border-radius: 5px;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-control.error {
  border-color: #FF5A62;
  color: #FF5A62;
}

@media (min-width: 414px) {
  .form-control {
    padding: .375rem .75rem;
  }
}

.footer {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.233938);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.233938);
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
}

@media (min-width: 576px) {
  .footer {
    padding: 15px 0;
  }
}

.footer .btn {
  min-width: 130px;
  letter-spacing: 0.777778px;
  min-height: 32px;
}

.modal {
  background: #F6F9FC;
  -webkit-box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 600px;
}

.modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.modal .modal-header .title {
  color: #2F5472;
  font-weight: 600;
  font-size: 16px;
}

.modal .modal-header .icon-close {
  color: #2F5472;
  padding: 10px;
  cursor: pointer;
}

.modal .modal-footer {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .modal-footer .btn {
  border-radius: 4px;
}

.modal.modal-details .modal-body .text-details {
  color: #9B9B9B;
  font-size: 12px;
  padding: 15px;
  text-align: justify;
}

.modal.modal-details .row-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 10px 15px;
}

.modal.modal-details .row-details:nth-child(odd) {
  background-color: #ffffff;
}

.modal.modal-details .row-details .label {
  color: #42505C;
  opacity: 0.5;
  font-size: 14px;
  min-width: 120px;
}

.modal.modal-details .row-details .text-field {
  color: #2F5472;
  font-weight: 600;
  font-size: 14px;
}

.page-percentages .form-infor-details .infor-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 7px;
}

@media (min-width: 576px) {
  .page-percentages .form-infor-details .infor-header {
    padding: 15px;
    padding-left: 40px;
  }
}

.page-percentages .form-infor-details .infor-header .title {
  color: #616161;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.page-percentages .form-infor-details .infor-header .col-last {
  width: 80px;
}

@media (min-width: 414px) {
  .page-percentages .form-infor-details .infor-header .col-last {
    width: 105px;
  }
}

.page-percentages .form-infor-details .infor-header .col-last .title {
  text-align: center;
}

.page-percentages .form-infor-details .col-first {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-percentages .form-infor-details .col-last {
  width: 80px;
  padding-left: 10px;
  padding-right: 0px;
}

@media (min-width: 414px) {
  .page-percentages .form-infor-details .col-last {
    width: 105px;
    padding-right: 10px;
  }
}

.page-percentages .form-infor-details .item-details {
  padding: 7px;
}

@media (min-width: 576px) {
  .page-percentages .form-infor-details .item-details {
    padding: 15px;
    padding-left: 40px;
  }
}

.page-percentages .form-infor-details .item-details .form-control {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  display: inline-block;
  height: 47px;
  text-align: center;
  border-radius: 5px;
  color: #2F5472;
  letter-spacing: 0.907408px;
}

.page-percentages .form-infor-details .item-details .form-control.error {
  border-color: #FF5A62;
  color: #FF5A62;
}

.page-percentages .form-infor-details .item-details .form-control.active {
  background: linear-gradient(151.06deg, #F2B47E 0%, #FEC858 100%);
  border-color: transparent;
}

.page-percentages .form-infor-details .item-details.active {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.page-percentages .form-infor-details .item-details.child .border-bottom {
  opacity: 0.65;
  background-color: #EEEEEE;
  height: 1px;
  margin: auto;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 15px;
}

.page-percentages .form-infor-details .item-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-percentages .form-infor-details .infor-details .name {
  color: #8AC9C6;
  letter-spacing: 1.75px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.page-percentages .form-infor-details .infor-details .email {
  color: #616161;
  letter-spacing: 0.712963px;
  font-size: 11px;
  word-break: break-word;
}

.page-percentages .form-infor-details .text-error {
  background: #FFEEEF;
  border: 1px solid #FF5A62;
  padding: 15px;
  color: #FF5A62;
  font-size: 12px;
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  line-height: 24px;
}

@media (min-width: 576px) {
  .page-percentages .form-infor-details .text-error {
    font-size: 16px;
    padding: 15px 25px;
  }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 576px) {
  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .box-form .row-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .box-form .row-field .form-control {
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 1024) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 670px) {
  .header .header-item-wrap {
    display: none;
  }
  .header .dropdown {
    display: inline-block;
  }
  .page-title {
    padding-top: 25px;
  }
}

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=main.css.map */