@import "helper/_reset";
@import "helper/_variables";
@import "helper/_global";

@import "components/_alert";
@import "components/_dropdown";
@import "components/_footer";

@import "screens/_percentages";

@import "helper/_responsive";

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
