.btn {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1.5px solid transparent;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 17px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &.btn-light {
    color: white;
    border-color: white;
    &:hover {
      opacity: 0.8;
    }
  }
  &.btn-primary {
    color: #ffffff;
    border-color: #2f5472;
    background-color: #2f5472;
  }
  &.btn-outline {
    background-color: transparent;
    background-image: none;
    &.btn-primary {
      color: #2f5472;
    }
  }
  &.btn-clear {
    background-color: transparent;
  }
  &.btn-gray {
    color: #616161;
    border-color: #eeeeee;
    background: #eeeeee;
    &:hover {
      color: #616161;
      opacity: 0.8;
    }
  }
  &.btn-gradient {
    color: #ffffff;
    background: linear-gradient(180deg, #559bab 0%, #8ad9d0 100%);
    border: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &.btn-add {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.666667px;
  }
  &:hover {
    opacity: 0.8;
  }
}
