.header {
  background-image: url("../../../../assets/images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 61px;
  padding: 15px;
  position: fixed;
  height: 0;
  width: 100%;
  height: 61px;
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    width: 86px;
    height: 32px;
    .logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .header-item-wrap {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
    .header-item {
      font-size: 13px;
      color: #ffffff;
      padding: 10px 15px;
      cursor: pointer;
      &:hover,
      &:focus {
        opacity: 0.8;
        font-weight: bold;
      }
      transition: all 0.3s;
    }
  }
}

@media (max-width: 670px) {
  .header {
    .header-item-wrap {
      display: none;
    }
    .dropdown {
      display: inline-block;
    }
  }
  .page-title {
    padding-top: 25px;
  }
}
