.box-form {
  margin-top: 20px;
  margin-bottom: 20px;
  .form-title {
    font-size: 20px;
    color: #2f5472;
    line-height: 60px;
  }
}
.form-group {
  flex: 1;
  margin-bottom: 10px;
  margin-top: 10px;
  label {
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #8ac9c6;
    font-weight: bold;
    padding-left: 20px;
  }
  .form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #2f5472;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      // box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
  }
  .error {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: red;
    padding-left: 20px;
  }

  &.form-vertical {
    display: flex;
    flex-direction: column;
  }
}
.form-control {
  padding: 2px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2f5472;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  &.error {
    border-color: #ff5a62;
    color: #ff5a62;
  }
  @media (min-width: 414px) {
    padding: 0.375rem 0.75rem;
  }
}

input[type="number"] {
  padding-left: 20px;
}

@media (max-width: 670px) {
  input[type="number"] {
    padding-left: 0;
  }
}
