.modal {
  background: #f6f9fc;
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 600px;
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    .title {
      color: #2f5472;
      font-weight: 600;
      font-size: 16px;
    }
    .icon-close {
      color: #2f5472;
      padding: 10px;
      cursor: pointer;
    }
  }
  .modal-footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .btn {
      border-radius: 4px;
      // &.btn-primary {
      //   color: #ffffff;
      // }
    }
  }
  &.modal-details {
    .modal-body {
      .text-details {
        color: #9b9b9b;
        font-size: 12px;
        padding: 15px;
        text-align: justify;
      }
    }
    .row-details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 5px;
      padding-bottom: 5px;
      padding: 10px 15px;
      &:nth-child(odd) {
        background-color: #ffffff;
      }

      .label {
        color: #42505c;
        opacity: 0.5;
        font-size: 14px;
        min-width: 120px;
      }
      .text-field {
        color: #2f5472;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
