.alert {
  padding: 15px 20px;
  &.gradient-blue {
    background: linear-gradient(167.97deg, #CEF2E6 0%, #F1F6CF 100%);
  }
  .text {
    font-size: 14px;
    color: #2F5472;
    line-height: 18px;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}