.dropbtn {
    background-color: transparent;
      color: white;
      padding: 0;
      padding-left: 10px;
      font-size: 0;
      border: none;
      cursor: pointer;
      outline: none;
    &:after{
      content: '\f0c9';
      font-family: FontAwesome;
      font-size: 20px;
    }
  }
  
  .dropbtn:hover, .dropbtn:focus {
    color: #000;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    padding: 15px;
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 200px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0;
      font-size: 12px;
      text-align: right;
      top: 27px;
      p{
        padding-bottom: 7px;
        padding-top: 7px;
        cursor: pointer;
        &:last-child{
          padding-bottom: 0;
        }
        &:hover {
          opacity: 0.8;
          font-weight: bold;
        }
      }
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}