.page-percentages {
  .form-infor-details {
    .infor-header {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 7px;
      @media (min-width: 576px) {
        padding: 15px;
        padding-left: 40px;
      }
      .title {
        color: $gray;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
      }
      .col-last {
        width: 80px;
        @media (min-width: 414px) {
          width: 105px;
        }
        .title {
          text-align: center;
        }
      }
    }

    .col-first {
      flex: 1;
    }
    .col-last {
      width: 80px;
      padding-left: 10px;
      padding-right: 0px;
      @media (min-width: 414px) {
        width: 105px;
        padding-right: 10px;
      }
    }
    .item-details {
      padding: 7px;
      @media (min-width: 576px) {
        padding: 15px;
        padding-left: 40px;
      }
      .form-control {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        width: 100%;
        display: inline-block;
        height: 47px;
        text-align: center;
        border-radius: 5px;
        color: #2f5472;
        letter-spacing: 0.907408px;
        &.pad-left-25 {
          padding-left: 25px;
        }
        &.error {
          border-color: $red;
          color: $red;
        }
        &.active {
          background: linear-gradient(151.06deg, #f2b47e 0%, #fec858 100%);
          border-color: transparent;
        }
      }
      &.active {
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-radius: 5px;
      }
      &.child {
        .border-bottom {
          opacity: 0.65;
          background-color: #eeeeee;
          height: 1px;
          margin: auto;
          margin-left: -10px;
          margin-right: -10px;
          margin-top: 15px;
        }
      }
      .details {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
    .infor-details {
      .name {
        color: #8ac9c6;
        letter-spacing: 1.75px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .email {
        color: #616161;
        letter-spacing: 0.712963px;
        font-size: 11px;
        word-break: break-word;
      }
    }

    .text-error {
      background: $pink;
      border: 1px solid $red;
      padding: 15px;
      color: $red;
      font-size: 12px;
      margin-top: 15px;
      margin-left: -10px;
      margin-right: -10px;
      line-height: 24px;
      @media (min-width: 576px) {
        font-size: 16px;
        padding: 15px 25px;
      }
    }
  }
}
