.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.p-15 {
  padding: 15px;
}
.pt-0{
  padding-top: 0 !important;
}
.pr-12 {
  padding-right: 12px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-12 {
  padding-left: 12px !important;
}
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}


.d-flex {
  display: flex;
}
.flex-1 {
  display: flex !important;
  flex: 1 !important
}
.flex-2 {
  display: flex !important;
  flex: 2 !important
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-row-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.align-item-center {
  align-items: center;
}
.align-item-start {
  align-items: flex-start;
}
.align-item-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.scroll-x {
  overflow-x: auto;
}

.semi-bold {
  font-weight: 500 !important;
}
.bold {
  font-weight: 600 !important;
}

.page-content {
  padding-top: 61px;
  padding-bottom: 65px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
  font-size: 24px;
  color: #2F5472;
  padding-top: 45px;
  padding-bottom: 25px;
}