/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 576px){
  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .box-form {
    .row-field {
      display: flex;
      flex-direction: row;
      .form-control {
        margin-right: 10px;
      }
      
    }
  }
}

@media (min-width: 768px) { 
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
 }

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) { 
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 1024) { 
  .container {
    max-width: 700px; 
    margin: 0 auto;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) { 
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 670px){
  .header{
      .header-item-wrap{
          display: none;
      } 
      .dropdown {
          display: inline-block;
      }
  } 
  .page-title {
      padding-top: 25px;
  }
}