.footer {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.233938);
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  @media (min-width: 576px) {
    padding: 15px 0;
  }
  .btn {
    min-width: 130px;
    letter-spacing: 0.777778px;
    min-height: 32px;
  }
}
